*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    min-height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .container {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    width: 90%;
    max-width: 900px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  h1{
    margin: 100px 0 40px;
    font-size: 44px;
    color: #f08a4f;
    text-align: center;
  }
  .timer {
    font-size: 34px;
    color: #f08a4f;
    font-weight: bold;
  }
  
  .quote-display {
    text-align: left;
    padding: 20px 0px;
    font-size: 22px;
  }
  
  .quote-input {
    background-color: transparent;
    border: 2px solid #f08a4f;
    border-radius: 5px;
    padding: 5px;
    resize: none;
  }
  
  .quote-input:focus {
    outline: none;
  }
  
  .correct {
    color: green;
  }
  
  .incorrect {
    color: red;
    text-decoration: underline;
  }
  .score-info{
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .last-attempt{
    margin-top: 50px;
    background-color: #f08a4f;
    color: #FFF;
    font-size: 22px;
    padding: 20px 40px;
    border-radius: 5px;
  }